<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mindworld - Game Server Provider{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans antialiased bg-gray-900 text-white">
    <div class="min-h-screen flex flex-col justify-between">
        <!-- Header -->
        <header class="bg-gray-800">
            <div class="container mx-auto py-4 px-6 flex justify-between items-center">
                <div class="text-2xl font-bold text-blue-400"><a href="{% url 'home' %}">Mindworld</a></div>
                <nav class="space-x-4">
                    <a href="{% url 'user_signup' %}" class="hover:text-blue-400">Register</a>
                    <a href="{% url 'user_login' %}" class="hover:text-blue-400">Login</a>
                </nav>
            </div>
        </header>

        <!-- Main Content -->
        <main class="flex-grow">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="bg-gray-800">
            <div class="container mx-auto py-4 px-6 text-center">
                <p>&copy; 2024 Mindworld. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>

</html>
