{% extends 'base/base.html' %}

{% block title %}Mindworld - Game Server Provider{% endblock %}

{% block content %}
<div class="container mx-auto py-8 px-6 text-center">
    <h1 class="text-5xl font-bold mb-4 text-yellow-400">Your Personal Minecraft Server</h1>
    <p class="text-lg mb-8 text-gray-300">Welcome to Mindworld, where your Minecraft adventure begins! Whether you're a seasoned player or just starting out, our servers are here to make your gaming experience unforgettable.</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="bg-gray-700 rounded-lg shadow-lg p-6">
            <h2 class="text-3xl font-semibold mb-4 text-gray-300">Easy to Use</h2>
            <p class="text-lg mb-4 text-gray-300">Discover the joy of effortless server management with our user-friendly control panel. No more headaches, just pure gaming fun!</p>
        </div>
        <div class="bg-gray-700 rounded-lg shadow-lg p-6">
            <h2 class="text-3xl font-semibold mb-4 text-gray-300">Built to Be Played</h2>
            <p class="text-lg mb-4 text-gray-300">Experience lag-free gameplay and smooth performance with our optimized servers. Dive into your favorite adventures without any interruptions.</p>
        </div>
        <div class="bg-gray-700 rounded-lg shadow-lg p-6">
            <h2 class="text-3xl font-semibold mb-4 text-gray-300">Mods & Plugins</h2>
            <p class="text-lg mb-4 text-gray-300">Enhance your gaming experience with a wide range of mods and plugins. Unleash your creativity and make your server truly unique!</p>
        </div>
        <div class="bg-gray-700 rounded-lg shadow-lg p-6">
            <h2 class="text-3xl font-semibold mb-4 text-gray-300">Your SMP</h2>
            <p class="text-lg mb-4 text-gray-300">Join our vibrant community and embark on epic adventures in your very own survival multiplayer (SMP) world. It's time to forge friendships and create memories!</p>
        </div>
        <div class="bg-gray-700 rounded-lg shadow-lg p-6">
            <h2 class="text-3xl font-semibold mb-4 text-gray-300">Custom Domains</h2>
            <p class="text-lg mb-4 text-gray-300">Personalize your server with a custom domain name and make it easier for your friends to join the fun. Let's build something amazing together!</p>
        </div>
        <div class="bg-gray-700 rounded-lg shadow-lg p-6">
            <h2 class="text-3xl font-semibold mb-4 text-gray-300">Share Access</h2>
            <p class="text-lg mb-4 text-gray-300">Invite your friends to join the adventure by granting them access to your server. Together, we'll create memories that last a lifetime!</p>
        </div>
    </div>
</div>
{% endblock %}
